{% extends "base.html" %}

{% block title %}Create Skill{% endblock title %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper account_card">
            <a class="backButton home_tag" href="{% url 'accounts:account' %}"><i class="im im-angle-left"></i></a>
            <br>

            <center>
                <h1 class="account_heads">Create Skill</h1>
            </center>

            <form method="POST">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form__field">
                        <label class="account_label" for="formInput#text">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                {% if page_name == 'Create' %}
                    <button class="btn btn--sub btn--lg  my-md account_btn" type="submit">Create</button>
                {% else %}
                    <button class="btn btn--sub btn--lg  my-md account_btn" type="submit">Update</button>
                {% endif %}

                

            </form>
        </div>
    </div>
</main>

{% endblock content %}
