{% load static %}


<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <a class="sidebar-brand brand-logo" href="{% url 'dashboard:dash_home' %}"><img src="{% static 'assets/images/logo.svg' %}" alt="logo" /></a>
      <a class="sidebar-brand brand-logo-mini" href="{% url 'dashboard:dash_home' %}"><img src="{% static 'assets/images/icon.svg' %}" alt="logo" /></a>
    </div>
    <ul class="nav">
      <li class="nav-item profile">
        <div class="profile-desc">
          <div class="profile-pic">
            <div class="count-indicator">
              <img class="img-xs rounded-circle " src="{{ profile.profile_image.url }}" alt="{{ profile.fisrt_name }} {{ profile.last_name }}" title="{{ profile.fisrt_name }} {{ profile.last_name }}">
              <span class="count bg-success"></span>
            </div>
            <div class="profile-name">
              <h5 class="mb-0 font-weight-normal">{{ profile.first_name }} {{ profile.last_name }}</h5>
              <span>Admin</span>
            </div>
          </div>
          <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
          
          <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
            

            <a href="#" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-account  text-info"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">My Profile</p>
              </div>
            </a>

            <a href="#" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-settings text-primary"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
              </div>
            </a>

            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-onepassword  text-info"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
              </div>
            </a>
            
          </div>
        </div>
      </li>
      <li class="nav-item nav-category">
        <hr />
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="{% url 'dashboard:dash_home' %}">
          <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
          </span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-account-multiple-plus"></i>
          </span>
          <span class="menu-title">Accounts</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'dashboard:create_dash_account' %}" title="Create Account" alt="Create Account">Create Account</a></li>
            <li class="nav-item"> <a class="nav-link" href="">All Accounts</a></li>
            
          </ul>
        </div>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" href="{% url 'dashboard:all_students' %}">
          <span class="menu-icon">
            <i class="mdi mdi-account-multiple"></i>
          </span>
          <span class="menu-title">All Students</span>
        </a>
      </li>
      
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-coffee text-light"></i>
          </span>
          <span class="menu-title">Skills</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic2">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'dashboard:all_skills' %}" title="All Skills" alt="All Skills">All Skills</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'dashboard:create_skill' %}" title="Create Skill">Create Skill</a></li>
            
          </ul>
        </div>
      </li>
      
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-tag-multiple"></i>
          </span>
          <span class="menu-title">Tags</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic3">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'dashboard:all_tags' %}" title="All Tags" alt="All Tags">All Tags</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'dashboard:create_tag' %}" title="Create Tag">Create Tag</a></li>
            
          </ul>
        </div>
      </li>
      
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-buffer"></i>
          </span>
          <span class="menu-title">Projects</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic4">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'dashboard:all_projects' %}" title="All Projects" alt="All Projects">All Projects</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'dashboard:create_project' %}" title="Create Projects" alt="Create Projects">Create Project</a></li>
            
          </ul>
        </div>
      </li>

      
      <li class="nav-item menu-items">
        <a class="nav-link" href="{% url 'accounts:logout' %}">
          <span class="menu-icon">
            <i class="mdi mdi-logout-variant text-danger"></i>
          </span>
          <span class="menu-title">Logout</span>
        </a>
      </li>
    </ul>
  </nav>

  