{% extends "dashboard_base.html" %}

{% block title %}All Students{% endblock title %}

{% block content %}


<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    {% include "includes/sub_nav.html" %}
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">        
        
        <div class="row ">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <a type="submit" class="btn btn-primary mr-2 mb-2 float-right" href="{% url 'dashboard:create_project' %}" title="Create Project" alt="Create Project">Create Project</a>
                <h4 class="card-title">Projects</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Student Name</th>
                        <th>Supervisor</th>
                        <th>Title</th>
                        <th>Project file</th>
                        <th>View</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      
                      {% for project in projects %}
                      
                        <tr>
                          
                          <td>{{ project.owner.first_name }} {{ project.owner.last_name }}</td>
                          <td>{{ project.supervisor }}</td>
                          <td>{{ project.title }}</td>
                          <td>
                            <a type="button" class="btn btn-success btn-icon-text" alt="{{ project.title }}" title="Download {{ project.title }}" href="{{ project.project_file.url }}">
                                <i class="mdi mdi-arrow-down-bold-circle-outline"></i> Download</a>
                          </td>
                          <td>
                            <a type="button" class="btn btn-outline-info btn-md" href="{% url 'dashboard:dash_view_project' project.id %}?next=/auth/dashboard/all-projects/">View</a>
                          </td>

                          <td>
                            <a type="button" class="btn btn-outline-danger btn-md" href="{% url 'dashboard:dash_delete_project' project.id %}?next=/auth/dashboard/all-projects/">Delete</a>
                          </td>
                        </tr>

                      {% endfor %}
                        

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      
      {% include "includes/dash_footer.html" %}

    </div>
    <!-- main-panel ends -->
</div>


{% endblock content %}

