{% extends "dashboard_base.html" %}

{% block title %}{{ dash_project.title }}{% endblock title %}

{% block content %}


<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    {% include "includes/sub_nav.html" %}
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">        
        
        <div class="row">
          
            <div class="col-md-12 col-xl-12 grid-margin stretch-card">
                <div class="card">

                  <div class="card-body">
                    <h4 class="card-title">
                        <a type="button" class="btn btn-outline-primary btn-md" href="{{ request.GET.next }}"><i class="mdi mdi-arrow-left-bold-circle"></i> Return</a>
                    </h4>


                    <div class="d-flex py-4">
                      <div class="preview-list w-100">
                        <div class="preview-item p-0">

                          <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                              <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                <h6 class="preview-subject">{{ dash_project.title|default:"Project" }}</h6>
                                <p class="text-muted text-small">{{ dash_project.created_at|default:"Month 00, 0000, 0:00 p.m. | a.m." }}</p>
                              </div>

                                <center class="p-2">
                                    <div class="item">
                                        <img src="{{ dash_project.project_image.url }}" alt="{{ dash_project.owner.first_name }} {{ dash_project.owner.last_name }}" title="{{ dash_project.owner.first_name }} {{ dash_project.owner.last_name }}" style="border-radius:2% !important;">
                                    </div>
                                </center>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="text-muted">{{ dash_project.owner.first_name|default:"Admin" }}</p>
                    <p class="text-muted"><span class="text-warning">{{ dash_project.supervisor|default:"Supervisor" }}</span></p>
                    <p class="text-muted">{{ dash_project.description|default:"Description" }}</p>

                    <center>

                        <a type="button" class="btn btn-outline-primary btn-md m-4" href="{{ dash_project.demo_link }}" target="_blank"><i class="mdi mdi-link"></i> Demo</a>

                        <a type="button" class="btn btn-outline-success btn-icon-text btn-md m-4" alt="{{ dash_project.title }}" title="Download {{ dash_project.title }}" href="{{ dash_project.project_file.url }}">
                            <i class="mdi mdi-arrow-down-bold-circle-outline"></i> Download</a>

                        <a type="button" class="btn btn-outline-primary btn-md m-4" href="{{ dash_project.source_link }}" target="_blank"><i class="mdi mdi-link"></i> Source Code</a>

                    </center>
                    
                  </div>
                </div>
              </div>

            
        </div>


        </div>

      </div>
      
      {% include "includes/dash_footer.html" %}

    </div>
    <!-- main-panel ends -->
</div>


{% endblock content %}

