@font-face {
    font-family: SpaceGrotesk-Light;
    src: url(../../fonts/SpaceGrotesk-Light.ttf);
}

@font-face {
    font-family: SpaceGrotesk-Regular;
    src: url(../../fonts/SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: SpaceGrotesk-Medium;
    src: url(../../fonts/SpaceGrotesk-Medium.ttf);
}

@font-face {
    font-family: SpaceGrotesk-SemiBold;
    src: url(../../fonts/SpaceGrotesk-SemiBold.ttf);
}

@font-face {
    font-family: SpaceGrotesk-Bold;
    src: url(../../fonts/SpaceGrotesk-Bold.ttf);
}

@import url(fonts.css);

[class*=sidebar-dark-] {
    background-color:#0f0e17 !important;
}

*{
    font-family: SpaceGrotesk-Regular;
}

.font-weight-light{
    color:#ff8906 !important; 
    font-size:20px !important; 
    font-weight:bold !important;
}

.login-box-msg{
    color:#0f0e17 !important; 
    font-size:20px !important; 
    font-family: SpaceGrotesk-Bold;
}

.nav-header{
    color:#fff !important; 
    font-size:15px !important; 
    font-weight:bold !important;
}

.nav-icon{
    color:#ff8906 !important;
}

.card-body, .card-header{
    background-color:#FFF3E5 !important;
}

.field-__str__{
    color:#0f0e17 !important; 
}

.card-primary.card-outline {
    border-top: 3px solid #0f0e17;
}

.bg-success {
    background-color: #34d399!important;
}

.btn-outline-success{
    background-color: #34d399 !important;
    border-color:#34d399 !important;
    color:#1e293b !important; 
}

.btn-outline-success:hover{
    background-color:#34d399 !important;
    border-color:#34d399 !important;
    color:#0f0e17 !important;
}

.btn-outline-primary{
    background-color: #0f0e17 !important;
    border-color:#0f0e17 !important;
    color:#fff !important;
}

.btn-outline-primary:hover{
    background-color:#0f0e17 !important;
    border-color:#0f0e17 !important;
    color:#fff !important;
}

.input-group-text{
    color:#0f0e17 !important;
}

#jazzy-usermenu{
    background-color: #FFF3E5!important;
}

#jazzy-usermenu:hover{
    background-color: #FFF3E5!important;
}